


<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <!-- <h1 class="justify-content-center">Generate Your Exam</h1> -->
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <h3>Please Register Yourself</h3>
                      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="form-control-label text-muted">First Name</label>
                           <input type="text" id="firstName" name="firstName" placeholder="Your First Name" class="form-control" formControlName="firstName">
                        </div>
                                                

                        <div class="form-group">
                            <label class="form-control-label text-muted">Last Name</label>
                           <input type="text" id="lastName" name="lastName" placeholder="Your Last Name" class="form-control" formControlName="lastName">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">Phone Name</label>
                           <input type="number" id="phone" name="phone" placeholder="Your Phone Name" class="form-control" formControlName="phone" >
                        </div>
                        <div class="form-group">
                                <label class="form-control-label text-muted">Email Address</label>
                            <input type="email" id="email" name="email" placeholder="Your Email" class="form-control" formControlName="email" >
                        </div>
                        
                        <div class="form-group">
                            <label class="form-control-label text-muted">Password</label>
                            <input type="password" id="psw" name="password" placeholder="Create Password" class="form-control" formControlName="password" >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">Gender</label>
                           <select class="form-control"  id="gender" name="gender" class="form-control" formControlName="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Others</option>
                        </select>
                        </div>
                        
                        <div class="row justify-content-center my-3 px-3">
                            <button class="btn-block btn-color" [disabled]="!profileForm.valid" type="submit">Register</button>
                        </div>

                      </form>
                      

                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="" class="sm-text mx-auto mb-3">Already have an account?<a href="/login" role="button" class="btn btn-white ml-2">Login</a></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">Create your Account to explore!!!</h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
                </div>
            </div>
        </div>
    </div>
</div>

